.dropdown{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-mobile-height));
    top: var(--header-mobile-height); 
    background-color: #fff;
    left: 0;
    z-index: 1001;
    transform: scaleY(0);
    transition: transform 1s ease-in-out;
    width: 100%;
    transform-origin: 0% 0%;
}

.dropdown li{
    margin-left: 0;
    margin-bottom: 1rem;
}

.dropdown li a{
    font-size: 1.8rem;
}

.open{
    transform: scaleY(1);
    transition: transform 1s ease-in-out;
}