.dropdown{
    position: fixed;
    top: 100vh;
    z-index: 1001;
    height: 0;
    transition: height 1s ease-in-out;
    width: 100%;
    transform-origin: 0% 50%;
}

.dropdown li{
    margin-left: 0;
    margin-bottom: 1rem;
}

.dropdown li a{
    font-size: 1.8rem;
}

.open{
    height: calc(100vh - var(--header-mobile-height));
    top: var(--header-mobile-height); 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    transition: height 1s ease-in-out;
}