.carousel .react-multiple-carousel__arrow{
    background: rgba(16,66,155,1);
}

.right_arrow{
    right: 4%;
}

.left_arrow{
    left: 4%;
}

.right_arrow, .left_arrow{
    position: absolute;
    font-size: 2rem;
    outline: 0;
    top: calc(50% - 23px);
    transition: all .5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: var(--color-secondary-tint);
    min-width: 43px;
    min-height: 43px;
    opacity: 1;
    cursor: pointer;
}

.right_arrow:hover, .left_arrow:hover{
    background: var(--color-secondary);
}   

.right_arrow:before{
    content: ">";
}

.left_arrow:before{
    content: "<";
}

.right_arrow:before, .left_arrow:before{
    font-size: 20px;
    color: var(--color-secondary-contrast);
    display: block;
    text-align: center;
    font-family: 'Open Sans';
    z-index: 2;
    position: relative;
}

.title{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}