.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: var(--color-primary);;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  color: #fff;
  padding: 1.2rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: bg-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: var(--color-primary-contrast);
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.blue {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary)!important;
}

.blue:hover,
.blue:active {
  background-color: var(--color-secondary-contrast)!important;
  border-color: var(--color-secondary) !important;
  color: var(--color-secondary)!important;
}

.hamburger span{
  width: 2rem;
  height: 3px;
  background-color: #fff !important;
  position: relative;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hamburger span::after {
  content: '';
  width: 2rem;
  height: 3px;
  background-color: #fff !important;
  position: absolute;
  top: 0.7rem;
  left: 0;
  display: block;
  transition: all 0.3s ease-in-out;
}

.hamburger span::before {
  content: '';
  width: 2rem;
  height: 3px;
  background-color: #fff !important;
  position: absolute;
  top: -0.7rem;
  left: 0;
  display: block;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  background-color: var(--color-primary);
  color: #fff;
}

.open .hamburger {
  transform: rotate(45deg);
  background-color: var(--color-primary);
}

.open .hamburger::after {
  transform: rotate(90deg);
  top: 0;
  background-color: var(--color-primary);
}

.open .hamburger::before {
  display: none;
}
