.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #fdaa06;
  border: 1px solid #fdaa06;
  border-radius: 6px;
  color: #fff;
  padding: 1rem 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: bg-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: #fff;
  border-color: #fdaa06;
  color: #fdaa06;
}

.blue {
  background-color: #10429b !important;
  border-color: #10429b !important;
}

.blue:hover,
.blue:active {
  background-color: #fff !important;
  border-color: #10429b !important;
  color: #10429b !important;
}
